/* Custom CSS */
:root{

--txt-color-blue-bold : #075985;
--txt-color-blue-low : #0369a1;
--txt-color-yellow-fs : rgb(245 158 11);
--txt-color-gray-border :  #e5e7eb;

}
/* General styles */
body {
    font-family: 'Mikhak';
    position: relative;
}

/* Header card styles */
.header-card {
    z-index: 2;
    width: 120px;
    border-radius: 999px;
    margin-bottom: -64px;
}

/* Span styles */
span {
    text-align: center;
    justify-content: center;
}

/* Body card styles */
.body-card {
    z-index: -1;
    top: 80px;
    border: 2px solid var(--txt-color-gray-border);
    border-radius: 8px;
    font-size: 16px;
    color: var(--txt-color-blue-low);
    font-weight: 100;
    padding-top: 70px;
    height: 408px;
    /* margin-top: -64px; */
}

/* ID number styles */
.id-number {
    /* width: 64px; */
    /* position: relative; */
    /* right: 216px; */
    /* top: -392px; */
    border: 2px solid var(--txt-color-gray-border);
    /* border-radius: 8px 0;
    z-index: 1;
    margin-top: -376px;
    margin-right: 216px; */
    position: absolute;
    top: 64px;
    left: 24px;
    display: flex;
    height: 2.5rem;
    width: 70px;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-width: 2px;
}

/* filter-lable */
.filter-lable{

    color: var(--txt-color-gray-border);
    font-size: 1rem;
    font-family: 'yekanBakh-bold';
    font-weight: 900;

}

/* Person full name styles */
.person-fullName {
    margin-top: 50px;
}

/* HB card styles */
/* .hb-card {
     position: relative; 
} */

.div-btn{
    gap: 1rem;
    width: 100%;
    tab-size: 4;
    display: flex;
    /* margin-top: 20px; */
}

/* Person-btn */
.person-btn {
    color: var(--txt-color-blue-bold);
    display: flex;
    align-items: center;
    text-align: center;
    align-content: space-between;
    font-size: 12px;
    border: 2px solid var(--txt-color-gray-border);
    border-radius: 8px;
    font-family: 'Mikhak-thin';
    font-weight: 900;
}

/* Btn filter & more styles */
.filter-more-btn {
    font-size: 0.75rem;
    color: var(--txt-color-blue-bold);
    border: 2px solid var(--txt-color-gray-border);
    border-radius: 8px;
    font-family: 'Mikhak-bold';
    font-weight: 900;
}

.person-province-city{
    font-family: 'Mikhak-light';
    font-weight: 400;
}

/* Person province styles */
.person-province {
    visibility: hidden;
}

.person-fullName{
    font-family: 'Mikhak-Light';
    font-weight: 400;
    color: var(--txt-color-blue-bold);

    
}

.person-rank-txt{
    color: var(--txt-color-blue-low);
    font-family: 'Mikhak-bold';
    font-weight: 900;
}

.person-rank{
    color: var(--txt-color-yellow-fs);
    font-size: 48px;
    color: var(--txt-color-yellow-fs);
}

.person-province{
        margin-top: -10px;
        padding-bottom: -10px;

}

.person-city{
    font-size: 30px;
    color: var(--txt-color-yellow-low);
    font-family: 'Mikhak-black';
    font-weight: bold;
    margin-top: -30px;
}

.person-university{
    font-weight: 100;
    font-family: 'Mikhak-Light';
    font-weight: 400;
}

.person-studyField{
    font-weight: 100;
    font-family: 'Mikhak-Light';
    font-weight: 400;
    /* margin-bottom: 40px; */
}

.range-slider {
    margin: 20px;
  }

/* JS direction */
.irs-to, .irs-from, .irs-max, .irs-min {
    direction: ltr;
    font-family: 'yekanBakh-regular';
    font-weight: bold;
    font-size: 12px;
}
