@font-face {
    font-family: YekanBakhBold;
    src: url(../fonts/yekanBakh/YekanBakhBold.eot) format("eot"),
        url(../fonts/yekanBakh/YekanBakhBold.ttf) format("ttf"),
        url(../fonts/yekanBakh/YekanBakhBold.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: YekanBakhLight;
    src: url(../fonts/yekanBakh/YekanBakhLight.eot) format("eot"),
        url(../fonts/yekanBakh/YekanBakhLight.ttf) format("ttf"),
        url(../fonts/yekanBakh/YekanBakhLight.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: yekanBakh;
    src: url(../fonts/yekanBakh/yekanBakh.eot) format("eot"),
        url(../fonts/yekanBakh/yekanBakh.ttf) format("ttf");
    font-display: swap
}

@font-face {
    font-family: YekanBakhRegular;
    src: url(../fonts/yekanBakh/YekanBakhRegular.eot) format("eot"),
        url(../fonts/yekanBakh/YekanBakhRegular.ttf) format("ttf"),
        url(../fonts/yekanBakh/YekanBakhRegular.woff) format("woff");
    font-display: swap
}